.logo{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.logo-img{
    height:3rem;
}
.champ{
    display: flex;
    flex-direction: row;
    height: 40rem;
}
.matrix{
    width: 100%;
    padding-top: 15%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.navbar{
    flex-direction: column-reverse;
    display: flex;
}
ul{
    list-style-type: none;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title{
    color:#F6B400;
    font-style: italic;
    font-size: 1.5rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
}
.subtitle{
    margin-bottom: 2.4rem;
    font-size: 1rem;
    color: gray;
    left: -20px;
}
.far-right{
    display: flex;
    float: left;
    width: 70%;
    justify-content: inherit;
    padding-right: 3%;
}
.far-left{
    display: flex;
    float: left;
}
.order-btn{
    background-color: #F6B400;
    width: fit-content;
    padding: 4%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.pauline{
    display: flex;
    height: 45rem;
    flex-direction: row;
    position: relative;
    margin-top: auto;
    justify-content: space-around;
    margin-bottom: 25%;
    background-color:azure;
    align-items: center;

}
.quality-item{
    width: 30%;
    padding-top: 1%;
    align-items: center;
    border-radius: 8px;
    height: 8%;
    border: 1px solid purple;
    text-align: center;
    display:inline-table;
}
.quality-item-middle{
    height: 8%;
    padding-top: 1%;
    align-items: center;
    border: 1px solid purple;
    text-align: center;
    width: 30%;
    border-radius: 8px;
    display: inline-table;
}
.menus{
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 30%;
    margin-top: 8rem; */
    position: relative;
    /* height: 40rem; */
    background-color: rgb(255,255, 255);
    flex-direction: column;
    display: flex;
    text-decoration: underline;
}
.menutitle{
    text-align: center;
}
.menu-items{
    height: 8%;
    padding-top: 1%;
    align-items: center;
    border: 1px solid purple;
    text-align: center;
    width: 30%;
    border-radius: 8px;
    display: inline-table;
    justify-content: space-evenly;
}
.menu-image{
    width:50%;

}
.menu-item{
    width: 25%;
    border-radius: 10px;
    height: 40%;
    text-align: center;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 3%;
    box-shadow: rgba(0,0,0,0.35) opx 5px 15px;
    
}
    

}
.head1{
    background: linear-gradient(120deg, #fff50%, #F6B400 50%);
    height:45rem;
}
.vatx{
    background-color:#edf5f1 ;
    height: 35rem;
    position: relative;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
}
.vat-image> img{
    border: 1px solid purple;
    text-align: center;
    align-items: center;
    /* height: 5rem; */
    padding-top: 2%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid purple;
    justify-content: space-between;
    width: 100%;
}
.vat-title{
    font-size: 2rem;
}
.vat-s{
    color: #F6B400;
    margin-top: auto;
}
.dot{
    margin-top: 40%;
    height: 15px;
    width: 15px;
    background-color: #F6B400;
    border-radius: 40%;
    display: inline-flex;

}
#play{
    display: flex;
    /* flex-direction: row;
    background-color: #F6B400;
    height: 30rem;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: space-around; */
    background-color: #F6B400;

}
.large{
    font-size: 2rem;
    font-weight: bold;
}
.left-play{
    /* padding-left: 20%; */
    width: 50%;
}
.apps{                       
    width: 100%;
}
.right-play{
     /* width: 50%; */
    display: flex;
    /* border: solid 3px black; */
    padding: 10px;
    margin: 10px;


}
.right-play> img{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;

}
.mobile-app{
    height: 30rem;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #edf5f1;
    padding-top: 2%;
}
.sbn{
    display: flex;
    margin-top: 1rem;

}
.input-sub{
    height: 2rem;
    font-weight: bold;

}
.input-suffix{
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    font-weight: 350;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #F6B400;
    border: 1px solid #F6B400;
    width: 25%;
    white-space: nowrap;
    vertical-align: middle;
    display:table-cell;
}
.footer-bottom{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

    
}
.box{
    display: flex;
    height: 45rem;
    flex-direction: row;
    position: relative;
    margin-top: auto;
    justify-content: space-around;
    margin-bottom: 25%;
    background-color: #edf5f1;
    align-items: center;
    
}
.page{
    display: flex;
    width: 100%;
    font-size: x-large;
}
.left, .right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    height: 100%;
}
#order-now{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-bottom-right-radius:0px ;
    background-color: #F6B400;
}
.left{
    padding-left: 30px;
    padding-top: 50px;
}
.vat{
    display: flex;
    width: 100%;
}
.vat-left, .vat-right{
    width: 50%;
}
.top{
    position: relative;
    width: 50%;
}
.bottom{
    /* position: absolute; */
    width: 50%;
}
.vat-right{
    border: 3px black solid;

}
.vat-left{
    font-size: x-large;
}
.left-play{
    font-size: x-large;

}
.vat{
    background-color: azure;
}
#quality{
    background-color: azure;
}
.right{
    background: linear-gradient(100deg,white 50%,#F6B400 50% );
}