.logo{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.logo-img{
    height:3rem;
}
.champ{
    display: flex;
    flex-direction: row;
    height: 40rem;
}
.matrix{
    width: 80px;
    padding-top: 15%;
    padding-left: 5%;
}
.navbar{
    flex-direction: column-reverse;
    display: flex;
}
ul{
    list-style-type: none;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title{
    color:#F6B400;
    font-style: italic;
    font-size: 1.5rem;
}

.title{
    font-size: 2.6rem;
    font-weight: bold;
    align-items: center;
}
.subtitle{
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
    color: gray;
}