.logo{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.logo-img{
    height:3rem;
}
.champ{
    display: flex;
    flex-direction: row;
    height: 40rem;
}
.matrix{
    width: 80px;
    padding-top: 15%;
    padding-left: 5%;
}
.navbar{
    flex-direction: column-reverse;
    display: flex;
}
ul{
    list-style-type: none;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title{
    color:#F6B400;
    font-style: italic;
    font-size: 1.5rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
}
.subtitle{
    margin-bottom: 2.4rem;
    font-size: 1rem;
    color: gray;
}
.far-right{
    display: flex;
    float: left;
    width: 70%;
    justify-content: inherit;
    padding-right: 3%;
}
.far-left{
    display: flex;
    float: left;
}
.order-btn{
    background-color: #F6B400;
    width: fit-content;
    padding: 4%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.pauline{
    display: flex;
    height: 45rem;
    flex-direction: row;
    position: relative;
    margin-top: auto;
    justify-content: space-around;
    margin-bottom: 25%;
    background-color: #edf5f1;
    align-items: center;

}
.quality-item{
    width: 35%;
    padding-top: 2%;
    align-items: center;
    border-radius: 8px;
    height: 8%;
    border: 1px solid purple;
    text-align: center;
}
.quality-item-middle{
    height: 8%;
    padding-top: 2%;
    align-items: center;
    border: 1px solid purple;
    text-align: center;
    width: 35%;
    border-radius: 10px;
}
.menus{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30%;
    margin-top: 8rem;
    position: relative;
    height: 40rem;
    background-color: rgb(255,255, 255);
    flex-direction: column;
    display: flex;
}
.menutitle{
    text-align: center;
}
.menu-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu-item{
    width: 25%;
    border-radius: 10px;
    height: 40%;
    text-align: center;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 3%;
    box-shadow: rgba(0,0,0,0.35) opx 5px 15px;
}
.menu-image{
    border: 1px solid purple;
    text-align: center;
    align-items: center;
    height: 5rem;
    padding-top: 1%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid purple;
    justify-content: space-between;
    width: fit-content;

}
.head1{
    background: linear-gradient(120deg, #fff50%, #F6B400 50%);
    height:45rem;
}
.vatx{
    background-color:#edf5f1 ;
    height: 35rem;
    position: relative;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
}
.vat-image> img{
    border: 1px solid purple;
    text-align: center;
    align-items: center;
    height: 5rem;
    padding-top: 1%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid purple;
    justify-content: space-between;
    width: fit-content;
}
.vat-title{
    font-size: 2rem;
}
.vat-s{
    color: #F6B400;
    margin-top: auto;
}
.dot{
    margin-top: 40%;
    height: 15px;
    width: 15px;
    background-color: #F6B400;
    border-radius: 40%;
    display: inline-flex;

}
.play{
    display: flex;
    flex-direction: row;
    background-color: #F6B400;
    height: 30rem;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;

}
.large{
    font-size: 2rem;
    font-weight: bold;
}
.left-play{
    padding-left: 20%;
}
.apps{
    width: 20rem;
}
.mobile-app{
    height: 30rem;
}



